<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter</title>
    @Styles.Render("~/Content/css")
</head>
<body style="background-image:url(../../img/car1.jpg); height:100%; background-attachment:fixed; background-position:center;
                                    background-repeat:no-repeat; background-size:cover">
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>